{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="deleteForm">
    <div class="deleteForm">
        <div>
            <h3 class="deleteForm"> Delete comment?</h3>
        </div>
    </div>
    <div class="deleteForm">
        <div class="deleteForm">
            <form class="deleteForm" method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong><br />
                <button class="deleteButtons" onclick="history.back()">Cancel</button>
                <button class="deleteButtons" >Delete?</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}