{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div>
    <div class="row">
        <div>
            <h3> Delete comment?</h3>
        </div>
    </div>
    <div class="row">
        <div >
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong><br />
                <a>Cancel?</a>
                <button>Delete?</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}