{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            {% endif %}
            <h3>Update your comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form class="CommentForm" method="post" style="margin-top: 1.3em;">
                {{ form | crispy }}
                {% csrf_token %}
                <input type="submit" value="Update" href="/" />
                <a href="/">Cancel </a>
            </form>
            {% endif %}

        </div>
    </div>
</div>
</div>

<div>

</div>

{% endblock content %}